extends layout.jade

block acontent
	- if(user)
		div.row
			div.col-md-4 标题
			div.col-md-3 时间
			div.col-md-2 状态
			div.col-md-1 操作
			div.col-md-2
				button.btn.btn-warning.btn-xs.newQuery
					span.glyphicon.glyphicon-plus(aria-hidden='true')
					span 新建问卷
		- var i = 0, l = user.survey.length
		- while( i < l )
			div.row.row-mt-15
					div.col-md-4
						span
							input(type='radio' name='survey'+i)
							=user.survey[i].title
					div.col-md-3=user.survey[i].time
					div.col-md-2=user.survey[i].status
					div.col-md-1
						input(type='button' name=user.survey[i].title value='edit')
					div.col-md-1
						input(type='button' name=user.survey[i].title value='delete')
					div.col-md-1
						input(type='button' name=user.survey[i].title value='show')
					- i += 1
		div.row
			div.col-md-4
				input(type='radio' name='selectAll')
				span 反选
				input(type='button' name='deleteAll' value='deleteAll')

block indexjs
	script(type='text/javascript' src='/javascripts/index.js')